body {
  background-color: #EDE3E3;
  font-family: sans-serif;
}

#content {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header, .slogan {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 2px;
  padding: 2px;
  text-align: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.nav-opts {
  display: flex;
  padding: 10px;
}

.button {
  background-color: white;
  color: black;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border: 1px solid black;
  transition-duration: 0.4s;
}

.button-active {
  background-color: #C5CCD2;
  color: black;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 0px 35px 0px;
}

.button:hover {
  background-color: #C5CCD2;
  color: black;
  border-radius: 0px 35px 0px;
  border: 1px solid black;
}

.button:focus {
  background-color: #C5CCD2;
  color: black;
  border-radius: 0px 35px 0px;
  border: 1px solid black;
}

form {
  text-align: center;
}

input[type=text], input[type=tel], input[type=email] {
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #2B2929;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid black;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: lightblue;
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus {
  background-color: lightblue;
  border: 3px solid black;
  border-radius: 15px;
}

select {
  width: 50%;
  padding: 14px 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f1f1f1;
}

textarea {
  resize: none;
  border: 1px solid black;
}

textarea:focus {
  background-color: lightblue;
  border: 3px solid black;
  border-radius: 15px;
}

label {
  text-decoration: underline;
}

footer {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  justify-content: left;
  background-color: #C5CCD2;
  transition-duration: 0.4s;
}

footer:hover {
  border-radius: 25px;
}

.services-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #C5CCD2;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: flex;;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02796"; /* Unicode character for "minus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.services-home {
  text-decoration: none;
}

.prices {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .nav-opts {
    display: flex;
    flex-wrap: wrap;
  }
}